<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description"
        content="Você encontrou a melhor terapia de SP. Temos um conceito moderno de terapia usando muita tecnologia sem perder o lado humano para te ajudar a atingir todo o seu potencial">
    <meta name="keywords"
        content="corpo, saúde, diversão, arte, educação, viagem, jornalismo, informação, cultura, entretenimento, lazer, opinião, análise, internet, fotografia, imagem, som, áudio, vídeo, fotos, humor, música">
    <meta property="og:title" content="Início - Melhor Terapia">
    <meta property="og:description"
        content="Você encontrou a melhor terapia de SP. Temos um conceito moderno de terapia usando muita tecnologia sem perder o lado humano para te ajudar a atingir todo o seu potencial">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://melhorterapia.com.br/">
    <meta property="og:site_name" content="Melhor Terapia">
    <meta name="twitter:description"
        content="Você encontrou a melhor terapia de SP. Temos um conceito moderno de terapia usando muita tecnologia sem perder o lado humano para te ajudar a atingir todo o seu potencial">
    <meta name="twitter:title" content="Início - Melhor Terapia">
    <meta name="google-site-verification" content="R1q5qs8M0opPmtmUrw0BuuI2i0221xZ94q8ITQkxzLg">
    <meta name="yandex-verification" content="8062d83f54d2ba2f">
    <meta name="application-name" content="Melhor Terapia">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Melhor Terapia</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel|Roboto&display=swap" rel="stylesheet">
    <!-- font-family: 'Lovers Quarrel', cursive; -->
    <!-- font-family: 'Roboto', sans-serif; -->

    <!-- reCAPTCHA type:v3 -->
    <script src="https://www.google.com/recaptcha/api.js?render=6LdFrYAUAAAAAMPcS_9e_upcDbcHO_VgqHPUUAXx"></script>

    <!-- setup -->
    <link rel="stylesheet" href="/assets/styles.css">
    <script src="/assets/page.js"></script>


</head>

<body>
	{{{ body }}}
</body>

</html>