  <div id="home"></div>
    <div class="fixed-top" id="topnav">

        <nav class="navbar navbar-expand-lg navbar-custom">

            <a class="navbar-brand" href="/">
                <img src="/images/logo_white.png" height="55px" style="margin-bottom: 5px">
            </a>

            <button id="sidebarCollapse" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbar-sidebar" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span><span class="fa fa-bars" aria-hidden="true"></span><span id="menu">MENU</span></span>
            </button>

            <div class=" navbar-collapse" id="navbar-sidebar">

                <div id="dismiss">
                    <i class="fa fa-arrow-left"></i>
                </div>

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="/">Início</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/terapias">Terapias</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://www.youtube.com/channel/UCswQwL4QyKp59zg2k1mksdQ"> <i
                                class="fab fa-youtube" style="color: red"></i> Youtube</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/survey">Teste Depressão</a>
                    </li>

                </ul>

            </div>
        </nav>

    </div>
    <!-- nav bar - END -->




    <!-- START new block  FOOT NOTE-->
    <div style="
    background-color: black; 
    height: 100vh; 
    width: 100%;
    background-color: lightgray; /* For browsers that do not support gradients */
    background-image: linear-gradient(180deg, rgb(54, 54, 54),black); /* Standard */
    ">

        <div class="container">
            <div class="row  text-center" style="margin: auto; padding-top: 250px; color: white; ">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h1>ERRO 404: <span id="pagenamecheck">{{pathname}}</span></h1>
                    <h1>Página não encontrada</h1>
                    <img src="/images/logo_white.png" height="100px" style="margin-top: 50px">
                </div>
                <div class="col-md-1"></div>
            </div>

        </div>


    </div>
    <!-- END new block -->